/* Import des fichiers de bases */
@import "./base/_reset.css";
@import "./base/_typography.css";
@import "./layouts/_header.css";
@import "./layouts/_navbar.css";
@import "./layouts/_hero-section.css";
@import "./components/_buttons.css";
@import "./layouts/_featured-section.css";
@import "./layouts/_new-sletter.css";
@import "./layouts/_footer.css";
@import "./utils/_responsive.css";


:root {
    --color-primary: #2ecc71;
    --color-secondary: #c0392b;
    --color-background: #f5f6fa;
    --color-text: #2c3e50;
}


















