/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabinet+Grotesk:wght@100;200;300;400;500;600;700&display=swap');

/* font Creatives et Decoratives  */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
    /* Polices Modernes */
    --font-futuriste: 'Space Grotesk', sans-serif;
    --font-minimal: 'Outfit', sans-serif;
    --font-creative: 'Clash Display', sans-serif;
    --font-elegant: 'Cabinet Grotesk', sans-serif;

    /* Créatives */
    --font-righteous: 'Righteous', cursive;
    --font-bungee: 'Bungee Shade', cursive;
    --font-monoton: 'Monoton', cursive;
    --font-rubik-mono: 'Rubik Mono One', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-minimal);
}

/* Exemple optimisé pour Orbitron */





